DB_URL=jdbc:postgresql://host.docker.internal:5432/repositorio_tcc
DB_USERNAME=(Usuario do banco)
DB_PASSWORD=(Senha do banco)

EMAIL_SECRET=(E-mail para acessar)
PASSWORD_SECRET=(Senha do e-mail)

FRONTEND_URL=(Opcional, se não inserir fica :http://localhost:3000/)
